@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fefefe;
}

h1 {
    font-family: 'Slabo 27px', serif;
}

h2 {
    font-family: 'Slabo 16px', serif;
}

table {
    color: #B22222;
    position: relative;
    margin: auto;
    width: 50%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

form {
    margin: auto;
    color: #B22222;
    width: 50%;
    text-align: left;
    border-radius: 5px;
    background-color: #FFB19A;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px 20px;
    border-radius: 4px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    color: #FFFFFF;
    padding: 8px 18px;
    border: none;
    font-size: 16px;
    background-color: #B22222;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bold;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

#title {
    font-size: 2em;
}

#header {
    text-align: center;
    color: #B22222;
    line-height: 20px;
}

#formheader, #tableheader {
    text-align: center;
    color: #CD5C5C;
    line-height: 10px;
}

#subtext {
    text-align: center;
    color: #CD5C5C;
    line-height: 20px;
    margin-bottom: 90px;
}

tr:nth-child(even){background-color: #FFB19A}


.hide{
    display: none;
}